*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	margin: 2rem;
}
#jeu{
	display: grid;
	grid-template-columns: repeat(3, 6rem);
	grid-template-rows: repeat(3, 6rem);
	gap:1rem;
	margin: 3rem auto;
}

.case{
	border: 1px solid lightgrey;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: 3rem;
}
p{
	margin-bottom: 1rem;
	font-size: 1,5rem;
}
p:first-of-type{
	color: lightseagreen;
}